.popup__container {
  margin: auto;
  padding: 34px 36px 36px 36px;
  max-width: 430px;
  width: 100%;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 768px) {
  .popup__container {
    padding: 25px 22px 25px 22px;
    max-width: 282px;
  }
}
