@import url(./blocks/root/root.css);

@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/content/content.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__edit-avatar-btn/profile__edit-avatar-btn.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__info-title/profile__info-title.css);
@import url(./blocks/profile/__info-subtitle/profile__info-subtitle.css);
@import url(./blocks/profile/__info-edit-btn/profile__info-edit-btn.css);
@import url(./blocks/profile/__add-btn/profile__add-btn.css);

@import url(./blocks/places/places.css);
@import url(./blocks/place/place.css);
@import url(./blocks/place/__image/place__image.css);
@import url(./blocks/place/__title/place__title.css);
@import url(./blocks/place/__like-btn/place__like-btn.css);
@import url(./blocks/place/__like-btn/_active/place__like-btn_active.css);
@import url(./blocks/place/__trash-btn/place__trash-btn.css);
@import url(./blocks/place/__like/place__like.css);
@import url(./blocks/place/__like-value/place__like-value.css);
@import url(./blocks/place/__like-value/_type/place__like-value_type_on.css);

@import url(./blocks/button/button.css);
@import url(./blocks/button/_type/button_type_close-creating.css);
@import url(./blocks/button/_type/button_type_close-editing.css);
@import url(./blocks/button/_type/button_type_close-viewing.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copy/footer__copy.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_type/popup__title_type_confirm.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__form/_type/popup__form_type_edit-profile.css);
@import url(./blocks/popup/__form/_type/popup_form_type_add-place.css);
@import url(./blocks/popup/__form-input/popup__form-input.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_name-on.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_description-on.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_place_on.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_link_on.css);
@import url(./blocks/popup/__form-input/_type/popup__form-input_type_error.css);
@import url(./blocks/popup/__form-input-error/popup__form-input-error.css);
@import url(./blocks/popup/__fieldset/popup__fieldset.css);
@import url(./blocks/popup/__form-confirm-btn/popup__form-confirm-btn.css);
@import url(./blocks/popup/__form-confirm-btn/_type/popup__form-confirm-btn_type_no-active.css);
@import url(./blocks/popup/__close-btn/popup__close-btn.css);
@import url(./blocks/popup/__image-container/popup__image-container.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__image-caption/popup__image-caption.css);
@import url(./blocks/popup/_type/popup_type_add-place.css);
@import url(./blocks/popup/_type/popup_type_edit-profile.css);
@import url(./blocks/popup/_type/popup_type_image-place.css);
