.header {
  max-width: 880px;
  margin: 45px 19px 0 19px;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 768px) {
  .header {
    margin: 28px 0 0 0;
  }
}
